<div class="container footer">
	<h5>&copy; 2017 91优惠券</h5>
</div>

<!--回到顶部-->
<!--<div class="asid_share" id="asid_share">
	<div class="asid_share_box relative">
		<a href="#"><img alt="扫二微码" title="扫二微码" class="adid_icon" src="{{ site.static_url }}/goup/images/icon_sweep.png"></a>
		<div class="asid_share_triangle" style="display:none;">
			<em class="border_sj">&#9670;</em>
			<span class="con_sj">&#9670;</span>
		</div>
		<div class="asid_sha_layer" style="width:250px;display:none;">
			<p class="sweep_img"><img src="{{ site.static_url }}/goup/images/weixin.png" width="220"></p>
			<p class="pb6"><b>扫码进微信群</b></p>
		</div>
	</div>
	<div class="asid_share_box relative" style="display:none;">
		<a href="#"><img alt="返回顶部" title="返回顶部" class="adid_icon" src="{{ site.static_url }}/goup/images/icon_back.png"></a>
	</div>
</div>-->
<!--回到顶部-->